<form class="special_form dismissable-form" id="<%= formName %>">
  <textarea name="<%= submitAs %>"><%= placeholderText %></textarea>
  <br>
  <input type="submit" value="Save">
  <button class="dismiss_special_form">X</button>
</form>