// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cardWidth: 600px;

.card_background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.card {
  position: absolute;
  width: $cardWidth;
  min-height: 300px;
  
  top: 50%;
  left: 50%;
  margin-top: -$cardWidth/2;
  margin-left: -$cardWidth/2;
  
  border: 1px solid black;
  border-radius: 2px;
  background: #ddddee;
      
  .card_content {
    top: 0;
    left: 0;
    width: 70%;
    margin: 10px;
    
    ul {
      list-style-type: none;
      
      li {
        margin: 3px;
      }
    }
  }

  .card_actions {
    position: absolute;
    top: 0;
    right: 0;
    // height: 100%;
    
    #actions {
      list-style-type: none;
      
      #card_exit {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}