<header>
  <span class="list_title"><%= list.escape('title') %></span>
  <a class="list-delete small_x_link"
     data-id="<%= list.escape('id') %>" 
     href="#">x</a>
</header>

<div class="cards_index"></div>