<form id="checklist_form">
  <label for="checklist_title">Title</label>
  <textarea id="checklist_title"
            name="checklist[title]">Checklist</textarea>
  <br>
  
  <input type="submit">
</form>